<div class="container mt-4">
    <div class="example-loading-shade"
          *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <h2>Formulaire Entreprise</h2>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/entreprise']"><mat-icon>list</mat-icon></a>
    </div>
  
    <div *ngIf="isIncomplete" class="alert alert-danger" role="alert">
      {{error}}
    </div>
    <form #s='ngForm' [formGroup]="entrepriseForm" (ngSubmit)="onFormSubmit(entrepriseForm.value)">
    
      <div class="form-group col-md-6">
        <mat-label for="denomination">denomination</mat-label>
        <input type="text" class="form-control" formControlName="denomination" value="denomination" id="denomination">
        <mat-error *ngIf="entrepriseForm.invalid">{{getErrorMessage()}}</mat-error>
        <!-- <span *ngIf="!entrepriseForm.get('nom_salarie').valid && entrepriseForm.get('nom_salarie').touched">Entrer un nom de salarie valide</span> -->
      </div>

      <div class="form-group col-md-6">
        <mat-label for="slogon">slogon</mat-label>
        <input type="text" class="form-control" formControlName="slogon" value="slogon" id="slogon">
        <mat-error *ngIf="entrepriseForm.invalid">{{getErrorMessage()}}</mat-error>
        <!-- <span *ngIf="!entrepriseForm.get('nom_salarie').valid && entrepriseForm.get('nom_salarie').touched">Entrer un nom de salarie valide</span> -->
      </div>

      <div class="form-group col-md">
        <mat-label for="salarie_id">Salarie :</mat-label>
        <mat-select matNativeControl class="form-control" formControlName="salarie_id" id="salarie_id">
          <mat-option value="">-- selectionner Salarie --</mat-option>
          <mat-option *ngFor="let s of salarie" [value]="s.id">{{s.titre}} {{s.nom}} {{s.prenom}}</mat-option>
        </mat-select>
        <mat-error *ngIf="entrepriseForm.invalid">{{getErrorMessage()}}</mat-error>
      </div>

      <div class="button-row">
      <button mat-button type="submit" ><mat-icon color="primary">save</mat-icon></button>
      </div>
    </form>
</div>