<div class="container mt-4">
    <div class="example-loading-shade"
          *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <h2>Formulaire Salarie</h2>
    </div>

    <mat-card>
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/suivi-pro']"><mat-icon>list</mat-icon></a>
    </div>
  
    <div *ngIf="isIncomplete" class="alert alert-danger" role="alert">
      {{error}}
    </div>
    <form #s='ngForm' [formGroup]="suiviForm" (ngSubmit)="onFormSubmit(suiviForm.value)">
      
      <div class="form-group col-md">
        <mat-label for="salarie_id">Salarie :</mat-label>
        <mat-select matNativeControl class="form-control" formControlName="salarie_id" id="salarie_id">
            <mat-option value="">-- selectionner un salarie  --</mat-option>
            <mat-option *ngFor="let s of salarie" [value]="s.id">{{s.title}} {{s.nom_salarie}} {{s.prenom_salarie}}</mat-option>
        </mat-select>
        <mat-error *ngIf="suiviForm.invalid">{{getErrorMessage()}}</mat-error>
      </div>

      <mat-form-field class="form-group mt-3 col-md">
        <mat-label>Date de suivi :</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
        <mat-error *ngIf="suiviForm.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width form-group col-md col-lg-12">
        <mat-label>fonct_ou_cat</mat-label>
        <input matInput type="text" class="form-control" formControlName="fonct_ou_cat">
      </mat-form-field>

      <mat-form-field class="form-group col-md col-lg-12">
        <mat-label>salaire_taux</mat-label>
        <input matInput type="text" class="form-control" formControlName="salaire_taux">
      </mat-form-field>

      <div class="button-row col-md">
        <button mat-button type="submit" ><mat-icon color="primary">save</mat-icon></button>
      </div>
    </form>
  </mat-card>
  </div>