<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    #drawer 
    class="sidenav"
    [ngClass]="{hidden: (isHandset$ | async) === false}"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar [routerLink]="['/']" >  {{title}} </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink=""> <mat-icon color="warn">home</mat-icon>  Accueil</a>
      <a mat-list-item routerLink="salarie"> Salarie</a>
      <!--  *ngIf="isAuth()" -->
      <a mat-list-item routerLink="absence">Absence</a>
      <a mat-list-item routerLink="accident">Accident</a>
      <a mat-list-item routerLink="emploi_anterieur">Emploi Anterieur</a>
      <a mat-list-item routerLink="instruction">Instruction</a>
      <a mat-list-item routerLink="promotion">Promotion</a>
      <a mat-list-item routerLink="sanction">Sanction</a>
      <a mat-list-item routerLink="suivi_pro">Suivi professionel</a>
      <!-- *ngIf="isAdmin()" -->
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="bg-style">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span [routerLink]="['/']"> {{title}}</span>

      <form class="form-inline md-form form-sm col-md-6">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search"
          matInput>
        <mat-icon fas icon="search" aria-hidden="true"></mat-icon>
      </form>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" [routerLink]="['/login']" *ngIf="!isAuth()">person</mat-icon>
      <!-- *ngIf="!isAuth()" -->
      <mat-icon class="example-icon" [routerLink]="['/login']" *ngIf="isAuth()">login</mat-icon>
      <!--  *ngIf="isAuth()" -->
      <mat-icon class="example-icon" *ngIf="isAuth()">settings</mat-icon>
    </mat-toolbar>

    <section class="container-fluid">
      <ng-content ></ng-content>
    </section>
    
    
  </mat-sidenav-content>
</mat-sidenav-container>
