<div class="main-content">
    <div class="container-fluid mt-5 mb-3">
        <div class="row">
            <div class="col-lg-3 col-md col-sm">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">persons</i>
                        </div>
                        <p class="card-category">nombre de salarie dans l'entreprise</p>
                        <h3 class="card-title">
                            <small>{{salarie}} Salarie(s)</small>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md col-sm">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">business</i>
                        </div>
                        <p class="card-category">Nombre d'entreprise associé</p>
                        <h3 class="card-title">{{entreprise}} Entreprise(s)</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">search_off</i>
                        </div>
                        <p class="card-category">Nombre d'absences </p>
                        <h3 class="card-title">{{absence}} absence(s)</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">arrow_circle_up</i>
                        </div>
                        <p class="card-category">Promotion effectuer</p>
                        <h3 class="card-title">{{promotion}} promotion(s)</h3>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>