<div class="container mt-4">
    <div class="example-loading-shade"
          *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <h2>Formulaire Salarie</h2>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/salarie']"><mat-icon>list</mat-icon></a>
    </div>
  <mat-card>
    <div *ngIf="isIncomplete" class="alert alert-danger" role="alert">
      {{error}}
    </div>
    <form #s='ngForm' [formGroup]="emploiForm" (ngSubmit)="onFormSubmit(emploiForm.value)">
        
      <div class="form-group col-md">
        <mat-label for="salarie_id">Salarie :</mat-label>
        <mat-select matNativeControl class="form-control" formControlName="salarie_id" id="salarie_id">
            <mat-option value="">-- selectionner Motif --</mat-option>
            <mat-option *ngFor="let s of salarie" [value]="s.id">{{s.titre}} {{s.nom}} {{s.prenom}}</mat-option>
        </mat-select>
        <mat-error *ngIf="emploiForm.invalid">{{getErrorMessage()}}</mat-error>
      </div>


      <div class="form-group col-md-6">
        <mat-label for="employeur">employeur</mat-label>
        <input type="text" class="form-control" formControlName="employeur" value="employeur" id="employeur">
        <mat-error *ngIf="emploiForm.invalid">{{getErrorMessage()}}</mat-error>
      </div>

      <mat-form-field class="form-group mt-3">
        <mat-label>Date :</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date_entree" value="date_entree">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
        <mat-error *ngIf="emploiForm.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
  
      <mat-form-field class="form-group mt-3">
        <mat-label>Date de depart:</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date_sortie" value="date_sortie">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
        <mat-error *ngIf="emploiForm.invalid">{{getErrorMessage()}}</mat-error>
     </mat-form-field>

      <mat-form-field class="form-group mt-3">
        <mat-label>Date de fin :</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="periode_end" value="periode_end">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
        <mat-error *ngIf="emploiForm.invalid">{{getErrorMessage()}}</mat-error>
     </mat-form-field>

      <div class="form-group col-md-6">
        <mat-label for="last_fonct">jours_Absences</mat-label>
        <input type="number" class="form-control" formControlName="last_fonct" value="last_fonct" id="jours_Absences">
        <mat-error *ngIf="emploiForm.invalid">{{getErrorMessage()}}</mat-error>
      </div>

      <div class="button-row">
        <button mat-button type="submit" ><mat-icon color="primary">save</mat-icon></button>
      </div>
    </form>
  </mat-card>
  </div>