<div class="container mt-4">
  <div class="example-loading-shade"
        *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <h2>Formulaire Salarie</h2>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/instruction']"><mat-icon>list</mat-icon></a>
  </div>

  <div *ngIf="isIncomplete" class="alert alert-danger" role="alert">
    {{error}}
  </div>
  <form #s='ngForm' [formGroup]="instructionForm" (ngSubmit)="onFormSubmit(instructionForm.value)">
  
    <!-- <div class="form-group col-md-3">
        <mat-label for="absence_reason_id">instruction_level :</mat-label>
        <mat-select matNativeControl class="form-control" formControlName="instruction_level" [value]="instruction_level" id="absence_reason_id">
            <mat-option value="">-- selectionner Motif --</mat-option>
            <mat-option *ngFor="let il of instruction_level" [value]="il">{{il}}</mat-option>
        </mat-select>
        <mat-error *ngIf="instructionForm.invalid">{{getErrorMessage()}}</mat-error>
        <span *ngIf="!instructionForm.get('pays').valid && instructionForm.get('pays').touched">Entrer un pays valide</span>
    </div>

    <mat-form-field class="example-full-width">
      <mat-label>Diplome</mat-label>
      <input matInput type="text" placeholder="Ex. bac+2" formControlName="diplome_got" [value]="instruction_level">
    </mat-form-field>
  
    <label id="example-radio-group-label">language parler</label>
    <mat-radio-group 
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      formControlName="language_talked" [value]="language_talked">
      <mat-radio-button *ngFor="let lt of languages" [value]="lt">
        {{lt}}
      </mat-radio-button>
    </mat-radio-group>

    <label id="example-radio-group-label">language parler</label>
    <mat-radio-group 
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      formControlName="language_write" [value]="language_write">
      <mat-radio-button *ngFor="let lt of languages" [value]="lt">
        {{lt}}
      </mat-radio-button>
    </mat-radio-group>
    
    <mat-form-field class="example-full-width">
      <mat-label>particular_knowledge</mat-label>
      <input matInput type="text" placeholder="Autres connaissances" [value]="particular_knowledge" formControlName="particular_knowledge">
    </mat-form-field>
   -->

    <div class="button-row">
      <button mat-button type="submit" ><mat-icon color="primary">save</mat-icon></button>
    </div>
  </form>
</div>