<div class="container mt-4">
    <div class="example-loading-shade"
          *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <h2>Formulaire Salarie</h2>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/absence']"><mat-icon>list</mat-icon></a>
    </div>
  
    <div *ngIf="isIncomplete" class="alert alert-danger" role="alert">
      {{error}}
    </div>
    <mat-card>
      <form #s='ngForm' [formGroup]="absenceForm" (ngSubmit)="onFormSubmit(absenceForm.value)">
        
        <div class="form-group col-md">
          <mat-label for="salarie_id">Salarie :</mat-label>
          <mat-select matNativeControl class="form-control" formControlName="salarie_id" id="salarie_id">
              <mat-option value="">-- selectionner le salarie absent --</mat-option>
              <mat-option *ngFor="let s of salarie" [value]="s.id">{{s.title}} {{s.nom_salarie}} {{s.prenom_salarie}}</mat-option>
          </mat-select>
          <mat-error *ngIf="absenceForm.invalid">{{getErrorMessage()}}</mat-error>
        </div>

        <mat-form-field class="form-group mt-3 col-md" >
          <mat-label>Date :</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
    
        <div class="form-group col-md">
          <mat-label for="absence_reason_id">Raison d'absence :</mat-label>
          <mat-select matNativeControl class="form-control" formControlName="absence_reason_id" id="absence_reason_id">
              <mat-option value="">-- selectionner une raison --</mat-option>
              <mat-option *ngFor="let ar of absence_reason" [value]="ar.id">{{ar.reason}}</mat-option>
          </mat-select>
          <mat-error *ngIf="absenceForm.invalid">{{getErrorMessage()}}</mat-error>
        </div>

          <mat-form-field class="form-group mt-3 col-md">
            <mat-label>Date de depart:</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="periode_start">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker1></mat-datepicker>
            <mat-error *ngIf="absenceForm.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field class="form-group mt-3 col-md">
            <mat-label>Date de fin :</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="periode_end" >
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker2></mat-datepicker>
            <mat-error *ngIf="absenceForm.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <div class="form-group col-md">
            <mat-label>observation</mat-label>
            <textarea class="form-control" formControlName="observation"></textarea>
            <mat-error *ngIf="absenceForm.invalid">{{getErrorMessage()}}</mat-error>
          </div>
    
        <div class="button-row">
          <button mat-button type="submit" ><mat-icon color="primary">save</mat-icon></button>
        </div>
      </form>
    </mat-card>
  </div>