<div class="container mt-4">
    <div class="example-loading-shade"
          *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <h2>Formulaire Emploi Anterieur</h2>
    </div>
    <!-- <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/emploi_anterieur']"><mat-icon>list</mat-icon></a>
    </div> -->
    <mat-card>
    <div *ngIf="isIncomplete" class="alert alert-danger" role="alert">
      {{error}}
    </div>
    <h2>{{"this is the id from salarie "+ salarie_id}}</h2>
    <form #s='ngForm' [formGroup]="emploiForm" (ngSubmit)="onFormSubmit(emploiForm.value)">
      
      <div class="form-group col-md">
        <mat-label for="employeur">employeur</mat-label>
        <input type="text" class="form-control" formControlName="employeur" id="employeur">
        <mat-error *ngIf="emploiForm.invalid">{{getErrorMessage()}}</mat-error>
      </div>

      <mat-form-field class="form-group mt-3 col-md">
        <mat-label>Date d'entre :</mat-label>
        <input matInput [matDatepicker]="picker3" formControlName="date_entree">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker3></mat-datepicker>
        <mat-error *ngIf="emploiForm.invalid">{{getErrorMessage()}}</mat-error>

      </mat-form-field>
  
      <mat-form-field class="form-group mt-3 col-md">
        <mat-label>Date de sortie:</mat-label>
        <input matInput [matDatepicker]="picker4" formControlName="date_sortie">
        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker4></mat-datepicker>
        <mat-error *ngIf="emploiForm.invalid">{{getErrorMessage()}}</mat-error>
      
      </mat-form-field>

      <div class="form-group col-md">
        <mat-label for="last_fonct">dernier Emploi</mat-label>
        <input type="number" class="form-control" formControlName="last_fonct" id="last_fonct">
        <mat-error *ngIf="emploiForm.invalid">{{getErrorMessage()}}</mat-error>
     </div>

      <div class="button-row">
        <button mat-button type="submit" ><mat-icon color="primary">save</mat-icon></button>
      </div>
    </form>
  </mat-card>
  </div>